<div class="header-provider">
    <h1 >Currently We Support Two Cloud Service Providers</h1>
</div>

<div class="provider-div-class"  >

    <div >
        <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'15px'" bottom="'10px'" height=70%>
            <mat-grid-tile class="google-grid-class" >
                <figure>
                    <h1 text-align="center"> Google Cloud Service Provider </h1>
                    <img width=80% height=60% src="/assets/google.png" />
                </figure>
            </mat-grid-tile>
            <mat-grid-tile >
                <figure>
                    <h1 text-align="center"> AWS Cloud Service Provide </h1>
                    <img left=10% width=50% height=60% src="/assets/aws.png" />  
                </figure>
            </mat-grid-tile>
    
          </mat-grid-list>
    </div>
</div>
