<mat-toolbar color="primary">


    <span>
        <mat-icon>
            cloud            
        </mat-icon>
        SWC
    </span>
    <div class="spacer"></div>
    <a mat-button routerLink="home"  color="white" style="font-size:20px">Home</a>
    <a mat-button routerLink="providers" color="white" style="font-size:20px">Cloud Service Providers</a>
    <a mat-button routerLink="storage" color="white" style="font-size:20px">Object Storage</a>
    <a mat-button routerLink="virtualmachines" color="white" style="font-size:20px">Virtual Machines</a>
    <a mat-button routerLink="filestorage" color="white" style="font-size:20px">File Storage</a>
    <a mat-button routerLink="estimationcart" color="white" style="font-size:20px">New Cloud Service</a>
    <span color="white" routerLink="cart">        
        <mat-icon style="font-size:27px">
            add_shopping_cart            
        </mat-icon>
    </span>
  </mat-toolbar>
