<div>
    <h1>Welcome To Object Storage</h1>

    <form action="" [formGroup]="storageForm">
        <div class="div-left">
            <mat-form-field>
                <mat-label>Select Location</mat-label>
                <mat-select formControlName="location" [(ngModel)]="uplocation">
                    <mat-option *ngFor="let location of locations" [value]="location.value">
                    {{location.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <mat-form-field float="auto" hideReuiredMarker >
                    <mat-label>Memory Size</mat-label>
                    <input matInput type="text" formControlName="memorysize"  [(ngModel)]="upmem"/>
                    <mat-hint align="end">Numaric value in GB</mat-hint> 
                </mat-form-field>
            </div>   
            <div>
            <mat-form-field float="auto" hideReuiredMarker >
                <mat-label>Transfer Out</mat-label>
                <input matInput type="text" formControlName="transfer"  [(ngModel)]="uptransfer"/>
                <mat-hint align="end">Numaric value in GB</mat-hint> 
            </mat-form-field>
            </div>   
            <div>
                <mat-form-field float="auto" hideReuiredMarker >
                    <mat-label>GET Request</mat-label>
                    <input matInput type="text" formControlName="get"  [(ngModel)]="upget"/>
                    <mat-hint align="end">Numaric value in MB</mat-hint> 
                </mat-form-field>
            </div>   
            <div>
                <mat-form-field float="auto" hideReuiredMarker >
                    <mat-label>PUT Reguest</mat-label>
                    <input matInput type="text" formControlName="put"  [(ngModel)]="upput"/>
                    <mat-hint align="end">Numaric value in MB</mat-hint> 
                </mat-form-field>
            </div>


        </div>
        <div class="div-right">
            <div class="right-div-top">
                <mat-form-field>
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date" >
                    <input matEndDate formControlName="end" placeholder="End date" >
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                
                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>

            </div>
            <br>

            <!-- <section class="example-section" >
                <span class="example-list-section">
                    <mat-checkbox formControlName="allcheck"
                                class="example-margin"
                                [checked]="allComplete"
                                [color]="task.color"
                                [indeterminate]="someComplete()"
                                (change)="setAll($event.checked)">
                                {{task.name}}
                    </mat-checkbox>
                </span>
                <span class="example-list-section">
                    <ul>
                        <li>
                            <mat-checkbox 
                                formControlName="aws"
                                [(ngModel)]="task.subtasks[0].completed"
                                [color]="task.color"
                                (ngModelChange)="updateAllComplete()">
                                {{task.subtasks[0].name}}
                            </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox 
                                formControlName="google"
                                [(ngModel)]="task.subtasks[1].completed"
                                [color]="task.color"
                                (ngModelChange)="updateAllComplete()">
                                {{task.subtasks[1].name}}
                            </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox 
                                formControlName="new"
                                [(ngModel)]="task.subtasks[2].completed"
                                [color]="task.color"
                                (ngModelChange)="updateAllComplete()">
                                {{task.subtasks[2].name}}
                            </mat-checkbox> 
                        </li>

                    </ul>
                </span>
            </section> -->
            <h3>Select Cloud Service Providers</h3>
            <div *ngFor="let asset of assets">
                <input (change)="onChange(asset)" type="checkbox" value="{{ asset }}" />{{asset}}
            </div>
            <div class="example-button-row">
                <button mat-raised-button 
                    color="primary" (click)="saveToCart()">
                    Save to cart
                </button>
                
            </div>
        </div>
    </form>
</div>



